n8n.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "143cd963-c64f-455c-895b-24117136f332",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "r5iHFZ9vD734mOPl",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "/projects/bObCSV5kAX5lUQ0D/datatables/r5iHFZ9vD734mOPl"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "2e260c84-476a-44c5-beab-fafe99474284",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.id_chat }}",
        "message": "Za co jesteś wdzięczny?",
        "responseType": "freeText",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "id": "0c415707-a29f-40bd-a4bb-d4289347a172",
      "name": "Send message and wait for response",
      "webhookId": "53b4c329-2e3a-430e-a8bd-7fb18eef5e4f",
      "credentials": {
        "telegramApi": {
          "id": "gFqrqvMMuykchDgs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OMzXvjFu0IfQpokYrr40q_5VS_0CHQe9BkC0XC7PDpc",
          "mode": "list",
          "cachedResultName": "arkusz-dzękczynienia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OMzXvjFu0IfQpokYrr40q_5VS_0CHQe9BkC0XC7PDpc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OMzXvjFu0IfQpokYrr40q_5VS_0CHQe9BkC0XC7PDpc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tresc": "={{ $json.data.text }}",
            "data": "={{ $now.setZone(\"Europe/Warsaw\").toISO() }}\n"
          },
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tresc",
              "displayName": "tresc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        0
      ],
      "id": "db25f364-1e35-4354-8c79-e474e3458bb7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AepdgD0AInbXXb9A",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        224
      ],
      "id": "6c9af3eb-84e2-4188-a594-0635f3ece1da",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OMzXvjFu0IfQpokYrr40q_5VS_0CHQe9BkC0XC7PDpc",
          "mode": "list",
          "cachedResultName": "arkusz-dzękczynienia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OMzXvjFu0IfQpokYrr40q_5VS_0CHQe9BkC0XC7PDpc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OMzXvjFu0IfQpokYrr40q_5VS_0CHQe9BkC0XC7PDpc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        224
      ],
      "id": "0f08c642-af29-40c6-b89c-1dbd27fc826f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AepdgD0AInbXXb9A",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=napisz podsumownie tego arkusz dziekczunienia miesiecznego {{ JSON.stringify($json.result, null, 2) }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        672,
        224
      ],
      "id": "2e0598a9-3fe4-4123-bbc0-b10c92792256",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "u0QOhfnsR3fJmXDS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// result = cały wynik z Google Sheets w jednej zmiennej\nconst result = items.map(item => item.json);\n\n// zwracamy to jako jedno pole\nreturn [{\n  json: {\n    result\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        224
      ],
      "id": "f37e7a02-effc-45af-b103-f537e4a1a67b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $json.id_chat }}",
        "text": "={{ $('Message a model').item.json.content.parts[0].text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        224
      ],
      "id": "1a707904-375e-4a58-a129-d138274c33b3",
      "name": "Send a text message",
      "webhookId": "15c4076b-4127-4698-9935-d1c693e9c44e",
      "credentials": {
        "telegramApi": {
          "id": "gFqrqvMMuykchDgs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "r5iHFZ9vD734mOPl",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "/projects/bObCSV5kAX5lUQ0D/datatables/r5iHFZ9vD734mOPl"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1024,
        224
      ],
      "id": "a5f37e74-df65-4508-a41b-8b4a015430b6",
      "name": "Get row(s)1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc1ba0345969f7228871df9e64b3b47e4f43ee33b19ce42717b44162e39dba6e"
  }
}
